.hero{
    background: url("assets/Intersect.png") no-repeat;
    background-size: contain;
    background-position: right top;
    background-color: #FFD699;
}

.vr{
    opacity: 100%;
    width: 2px;
    height: 25px;
}

.active{
    border-bottom: #ED8E00 solid 3px;
}







.testimonials-next, .testimonials-prev {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
  }
 
  .testimonials-next:after
  {
    content: '>';
    font-size: 55px;
    color: #ed8d00
  }
 
  .testimonials-prev:after {
    content: '<';
    font-size: 55px;
    color: #ed8d00
  }
 
  .email{
      width: 70%;
      text-align: center;
  }
 
  .footer{
      background-color: black;
  }
 
  .footer img {
      width: 8%;
  }
 
  .text-gray {
      color: gray;
  }
